.advantages {
  background: url(../img/bg-triangle-white.svg) top right no-repeat;
  background-size: auto;
  background-color: $bg_lightgrey;



  &__heding {
    font-weight: bold;
  }

  &__text {
    font-weight: normal;
  }

  @media (--mobile-widths) {
    &__wrapper {
    display: flex;
    flex-direction: column;
  }

  &__img {
    display: none;
  }

  &__review {
    text-align: center;
  }

  &__img-banner {
    display: block;
    margin: auto;
  }
}


  @media (--tablet-widths) {
    &__wrapper {
      position: relative;
      height: 480px;
      width: 50%;
      margin-left: auto;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
    }

    &__img {
      display: none;
    }

    &__review {
      text-align: left;
    }

    &__img-banner {
      position: absolute;
      left: -100%;
      display: block;
    }


  }

  @media (--desktop-widths) {
    &__wrapper {
      height: 600px;
      display: flex;
      justify-content: space-around;
      align-items: flex-start;
    }

    &__review {
      width: 260px;
      text-align: center;
    }

    &__heading {
      font-size: 30px;
    }

    &__text {
      font-size: 18px;
    }

    &__img-banner {
      display: none;
    }
  }
}
