body {
  /*ФОТО*/ /*background: url(../img/outlines/pink-photo-mobile.jpg) no-repeat 50% 0px;*/
  /*ФОРМА*/  /*background: url(../img/outlines/pink-form-mobile.jpg) no-repeat 50% 0px;*/

  background-size: 320px auto;
  margin: 0 auto;

  @media (--tablet-widths) {
  /*ФОТО*/ /*background: url(../img/outlines/pink-photo-tablet.jpg) no-repeat 50% 0px;*/
  /*ФОРМА*/ /*background: url(../img/outlines/pink-form-tablet.jpg) no-repeat 50% 0px;*/
    background-size: 700px auto;
}
  @media (--desktop-widths) {
  /*ФОТО*/ /*background: url(../img/outlines/pink-photo-desktop.jpg) no-repeat 50% 0px;*/
  /*ФОРМА*/ /*background: url(../img/outlines/pink-form-desktop.jpg) no-repeat 50% 0px;*/
    background-size: 1200px auto;
  }
}
body>* {
  opacity: 0.7;
}
