.photo-block {
  overflow: hidden;
  background: $bg_lightgrey;
  color: $darkblue;
  font-size: 14px;
  line-height: 24px;

  &__image {
    width: 100%;
  }
  &__username {
    font-weight: bold;
    margin: 10px 20px 0 20px;
  }

  &__post-time {
    font-weight: lighter;
    font-size: 12px;
    text-transform: uppercase;
    margin: 10px 20px 0 0;
  }

  &__comment {
    margin: 0 20px;
  }

  &__comment p {
    margin: 0;
  }

  &__like {
    display: block;
    color: $darkpink;
    text-transform: uppercase;
    margin: 20px;
    bottom: 0;
  }

  @media (--mobile-widths) {}
  @media (--tablet-widths) {}
  @media (--desktop-widths) {}
}
